p
{
	background-color: black;
	text-align: center;
	font-size: 120px;
	color: #eee;
	border: solid black 10px;
	border-radius: 100px;
	margin-left: 50px;margin-right: 50px;
	/*margin-top: 1000px;*/

}