*{
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

.navbar-nav li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
}

.navbar-inverse{
    background-color: #011627;
    padding: 5px;
}

.dropdown-menu .active a, .dropdown-menu .active a:hover{
    background-color: #011627;
}

.container{
    margin-top:50px;
    margin-bottom:50px;
}

.parallax {
    margin: 0px;
    background-color: black;
    background-image: url("../images/essaouira.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-size: xx-large;
    padding: 50px 0px 50px 0px;
}

/*video background*/
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100vh;
  }

  #videowrapper{  
    position: relative;
    overflow: hidden;
} 

#fullScreenDiv{
    min-height: 100%; 
    height: 77vh;
    width: 100vw;
    padding:0;
    margin: 0;
    background-color: gray;
    position: relative;
}

#video{    
    width: 100vw; 
    height: auto;
    margin: auto;
    display: block;
}


@media (min-aspect-ratio: 16/9) {
    #video{
      width: 100vw; 
      height:auto;
    }
  }
  
  @media (max-aspect-ratio: 16/9) {
    #video {
      height: 100vh; 
      width:auto;
      margin-left: 50vw;
      transform: translate(-50%);
    }
  }

  .styling h1{
    font-size: 7em;
    font-weight: 200;
    color: #fff;
    line-height: 1;
    margin: 0;
        margin-bottom: 0px;
}

/*video background end*/

.parallax-2 {
    margin: 0px;
    background-color: black;
    background-image: url("../images/essaouira.mp4");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-size: xx-large;
    padding: 50px 0px 50px 0px;
}

.parallax-1{
    padding: 75px 0px 50px 0px;
    margin: 0px;
    background-color: #fdfffc;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh    ;
}

.border-top-0{
    border: 1px solid rgba(0,0,0,.125);
}

.pointer{
    cursor: pointer;
    color: red;
}

.commentaire{
    border: 1px solid rgba(0,0,0,.125);
    padding: 15px;
    border-radius: 21px;
    margin: 4px;
    box-sizing: border-box;
    background-color: ghostwhite;
}

.parallax .col-md-6 h1{
    font-size: 70px;
    font-weight: bold;
}

.title{
    font-weight: bold; text-align: center; padding: 10px;
}

.content{
    position: relative;
    top: 80px;
}

.footer{
    background-color: #011627;
    padding: 30px;
}

.footer h4{
    color: #fdfffc;
}

.footer h3{
    padding: 50px 0 0 0;
    text-align: center;
    color: #9e9e9e;
}

.img-cent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.show{
    display: flex;
}

@media only screen and (max-width: 992px) {
    *{
        text-align: center;
    }

    .navbar-nav li a{
        font-size: 12px;
    }

    .parallax {
        margin: 0px;
        background-color: black;
        background-image: url("../images/essaouira.jpg");
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 600px;
        font-size: 20px;
        padding: 50px 0px 50px 0px;
    }

    .parallax .col-md-6 h1{
        font-size: 50px;
        font-weight: bold;
    }

    .content{
        position: relative;
        top: 0px;
    }
  }