*{
    font-family: Arial, Helvetica, sans-serif;
}

.parallax-1{
    padding: 0px;
    margin: 0px;
    background-color: #fdfffc;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px ;
}
.parallax-2 {
    padding: 0px;
    margin: 0px;
    background-color: black;
    background-image: url("../../images/essaouira.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}

li{
    list-style-type: square;
}

h1{
    font-weight: bold;
}

p{
    text-align: justify;
}

a:hover{
    text-decoration: none;
}